*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --cel-size: 100px;
  --mark-size: cal(var(--cel-size) * 0.9);
}

body {
  margin: 0;
}

.board {
  width: 100vw;
  height: 100vh;
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-columns: repeat(3, auto);
  justify-items: center;
  align-items: center;
}

.cell {
  width: var(--cel-size);
  height: var(--cel-size);
  border: 1px solid black;
}

.cell:first-child,
.cell:nth-child(2),
.cell:nth-child(3) {
  border-top: none;
}

.cell:first-child,
.cell:nth-child(4),
.cell:nth-child(7) {
  border-left: none;
}

.cell:nth-child(3n + 3) {
  border-right: none;
}

.cell:last-child,
.cell:nth-child(8),
.cell:nth-child(7) {
  border-bottom: none;
}
